cuda-python

streamlit == 1.37.0
git+https://github.com/streamlit/files-connection
s3fs==2024.6.1
gcsfs==2024.6.1
st-files-connection==0.1.0
langchain == 0.2.11
faiss-cpu == 1.8.0.post1
faiss-gpu-cu11
sentence-transformers==3.0.1 
InstructorEmbedding == 1.0.1
pypdf == 4.3.1
langchain_community == 0.2.10
langchain_groq == 0.1.6
langchain_huggingface==0.0.3


